/* color palette
/* pink and grey */
/* d7d2cb,
f1c6d2,
e6b7c1,
c4b6b1,
a9a09e */ 

/* pink and beige
f5e0d1,
f2b1c5,
e8a6b0,
d5988b,
c49a7e */

/* pink and green
f2e0e0,
b99095,
54694a,
dee0e0 */
:root{
    --font-color: black;
    --font-family: "inter",
        sans-serif;
}
body{
    font-family: var(--font-family)
}


h1{
    font-weight: bold;
    margin: 50px 50px 0 0;
    font-size: 60px;
}

h2{
    font-weight: 200;;
    font-size: 30px;
    margin: 20px 20px 20px 0;
}
.header {
    background-color: white;
    text-align: left;
    margin-left: 50px;}

.btn{
    padding: 15px;
    background-color: black;
    color: white;
    margin-top: 40px;
}