:root {
    --font-color: black;
    --font-family: "Inter", sans-serif;
    --background-color: white;
}

/* Base Styles */
body {
    font-family: var(--font-family);
    color: var(--font-color);
    margin: 0 auto;
    max-width: 1200px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family);
    margin: 0;
}

h1 {
    font-weight: bold;
    font-size: 60px;
}

h2 {
    font-weight: 200;
    font-size: 30px;
}

h3 {
    font-weight: bold;
    font-size: 25px;
}

h4,
h5 {
    font-weight: bold;
    font-size: 25px;
}

h5 {
    font-size: 20px;
    margin: 0 10px;
}

h6 {
    font-weight: 400;
    font-size: 18px;
    text-decoration: underline;
}

p {
    text-align: justify;
    font-weight: 200;
}

a {
    text-decoration: none;
    color: var(--font-color);
    cursor: pointer;
    transition: color 200ms ease;
}

a:hover {
    color: grey;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: all 200ms ease-in;
}

/* Layout */
.container,
.main-page,
.head-container,
.container-projects {
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
}

.container {
    display: grid;
    gap: 20px;
    padding: 0;
 
}

.main-page {
    display: flex;
    flex-direction: column;
}

.head-container {
    margin-top: 50px;
}

.col {
    margin: 50px 0;
}

.navbar {
    border: 1px solid black;
    background-color: white;
    
}

nav a {
    margin: 15px;
}

footer {
    background-color: rgb(247, 247, 249);
    height: 140px;
    border: 1px solid rgb(228, 229, 229);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

/* Components */
.header {
    text-align: center;
    padding: 250px;
    height: 700px;
    border-bottom: 1px solid black;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(251, 250, 250, 0.8)),
        url("../images/header.jpeg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn {
    padding: 15px;
    background-color: black;
    color: white;
    margin-top: 20px;
    box-shadow: rgba(37, 39, 89, 0.08) 0 5px 5px 0;
    cursor: pointer;
    transition: all 200ms ease;
}

.btn:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}

.logo {
    max-width: 100px;
}

.active {
    font-weight: bold;
}

/* Project Section */


.coding-projects,
.coding-skills {
    margin-top: 90px;
}

.projects-coding-logo,
.extra-coding-logo,
.coding-logo,
.mini-coding-logo {
    text-align: center;
    margin: 0 15px;
}

.projects-coding-logo {
    font-size: 35px;
}

.extra-coding-logo {
    font-size: 30px;
    margin: 0 60px;
}

.extra-coding-logo h4 {
    font-size: 18px;
}

.coding-logo {
    font-size: 60px;
}

.coding-logo h4 {
    margin: 30px 0;
}

.mini-coding-logo {
    font-size: 30px;
    margin: 0 4px;
}

.coding-skills-list {
    margin-top: 40px;
}

.coding-projects-title,
.coding-skills-title,
.additional-skills-title {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    margin: 30px 0;
}

.coding-projects-title,
.coding-skills-title {
    font-size: 30px;
}

.additional-skills-title {
    font-size: 20px;
}

.coding-projects-title a,
.coding-skills-title a,
.additional-skills-title a {
    color: inherit;
    transition: color 0.3s ease;
}

.coding-projects-title a:hover,
.coding-skills-title a:hover,
.additional-skills-title a:hover {
    color: grey;
}

.coding-projects-title::after,
.coding-skills-title::after {
    content: "";
    display: block;
    width: 100%;
    max-width: 1150px;
    height: 3px;
    margin: 15px auto 0;
    background-color: var(--font-color);
    border-radius: 5px;
}

.additional-skills-title::after {
    max-width: 550px;
    content: "";
    display: block;
    width: 100%;
    max-width: 550px;
    height: 3px;
    margin: 15px auto 0;
    background-color: var(--font-color);
    border-radius: 5px;
}

/* Grid and Layout Utilities */
.grid-3-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.main-section-projects {
    width: 100%;
    margin: 0;
    padding: 0 15px;
}

.second-line-projects {
    margin-top: 60px;
}

.project-row {
    margin: 60px 0 100px;
}

.project-row .row {
    display: flex;
    align-items: stretch;
}



.project-description {
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-color {
    filter: grayscale(100%);
    border: 1px solid rgb(210, 209, 209);
    transition: filter 0.3s ease, transform 0.3s ease;
}

.img-color:hover {
    transform: scale(0.99);
    filter: grayscale(0%);
}

/* Utility */
.in-touch {
    font-size: 40px;
}

.email-contact {
    font-weight: 600;
}

.github-note {
    margin: 30px 0 20px;
}

.social-links {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-size: 35px;
    margin: 50px;
}

.footer-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container-about {
    margin-bottom: 50px;
}

/* Responsive Styles */
@media (max-width: 480px) {
    body {
        margin: 5px auto;
        overflow-x: hidden;
    }

    .navbar-collapse {
        opacity: 0;
        transition: opacity 0.4s ease, transform 0.4s ease;
        background-color: transparent;
        pointer-events: none;
    }
    
    .navbar-collapse.show {
        opacity: 1;
        background-color: #f8f9fa;
        pointer-events: auto;
        padding: 1rem;
        border-radius: 0 0 8px 8px;   
    }
        
    .header {
        padding:50px;
        max-height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header h2{
        font-size: 20px;
        margin-top: 15px;
    }
  
    .navbar {
        padding-top: 4px;
        padding-bottom: 4px;
    }
    
    .navbar-nav .nav-link {
        font-size: 12px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .logo {
        height: 50px;
        width: auto;
    }
        
    .navbar-toggler {
        padding: 4px 6px;
        font-size: 14px;
        margin: 20px;   
    }

    .container {
        padding-left: 8px;
        padding-right: 8px;
        padding: 0;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

    h3,
    h5, 
    .coding-skills-title, .coding-projects-title {
        font-size: 20px;
    }

    h4,
    h5 {
        font-size: 12px;
    }

    h6, 
    .additional-skills-title {
        font-size: 14px;
    }

    p {
        font-size: 12px;
    }

    .btn {
        font-size: 10px;
        padding: 10px;
        margin-top: 10px;
    }


    .coding-list {
        flex-direction: column;
        align-items: center;
        text-align: center;   
        margin: 0;
    }

    .container-projects{
        padding: 0;
    }

    .main-section-projects {
        width: 100%;
        margin: 0;
        padding: 0 5px;
    }

    .projects-coding-logo {
        margin: 10px 5px ;
        font-size: 24px;
        text-align: center;
    }
        
    .project-row {
        margin: 30px 0 50px;   
    }

    .mini-coding-logo {
        font-size: 18px;
        margin: 0 4px;   
    }

    .coding-logo,
    .extra-coding-logo {
        width: 33%;
        font-size: 30px;
        margin: 0px 0;
        box-sizing: border-box;
    }

    .extra-coding-logo {
        font-size: 30px;
        margin: 0 20px;
    }
    
    .extra-coding-logo h4 {
        font-size: 12px;  
        margin-top: 20px;
    }
   
    .coding-skills{
        margin-top: 20px;
    }

    
    .coding-skills-list,
    .additional-skills-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 30px;
    }

    .additional-skills-title::after {
        width: 75%;
    }



    .app {
        margin: 15px auto;
        padding: 5px
    }
    .second-line-projects{
        margin: 20px 0 20px 0
    }

    .project-description {
        padding-left: 10px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;   
    }

    .coding-journey{
        display: flex;
        flex-direction: column;

    }

    .about-button{
        display: block;
       margin: 0 auto;
    }

    .img-container{
        margin: 0
        ;
    }

    .in-touch{
        font-size: 30px;
    }
    .social-links {
        flex-direction: column;
        font-size: 25px;
        margin: 10px;
    }

    footer {
        flex-direction: column;
    }
}

@media (min-width: 481px) and (max-width: 768px),
(min-width: 769px) and (max-width: 1024px) {
    
    
body {
    margin: 5px auto;
    overflow-x: hidden;
}

.navbar-collapse {
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.4s ease;
    background-color: transparent;
    pointer-events: none;
}

.navbar-collapse.show {
    opacity: 1;
    background-color: #f8f9fa;
    pointer-events: auto;
    padding: 1rem;
    border-radius: 0 0 8px 8px;
}

.header {
    padding: 50px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header h2 {
    font-size: 20px;
    margin-top: 15px;
}

.navbar {
    padding-top: 4px;
    padding-bottom: 4px;
}

.navbar-nav .nav-link {
    font-size: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

.logo {
    height: 70px;
    width: auto;
}

.navbar-toggler {
    padding: 4px 6px;
    font-size: 18px;
    margin: 20px;
}

.main-page{
    padding: 50px;
}

.container {
    padding-left: 8px;
    padding-right: 8px;
    padding: 0;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 25px;
}

h3,
h5,
.coding-skills-title, .coding-projects-title {
    font-size: 22px;
}

h4,
h5 {
    font-size: 12px;
}

h6,
.additional-skills-title {
    font-size: 16px;
}

p {
    font-size: 12px;
}

.btn {
    font-size: 15px;
    padding: 12px;
    margin-top: 20px;
}


.coding-list {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
}

.container-projects {
    padding: 0;
}

.main-section-projects {
    width: 100%;
    margin: 0;
    padding: 0 5px;
}

.projects-coding-logo {
    margin: 10px 5px;
    font-size: 15px;
    text-align: center;
}

.project-row {
    margin: 30px 0 50px;
}

.coding-logo,
.extra-coding-logo {
    width: 33%;
    font-size: 30px;
    margin: 0px 0;
    box-sizing: border-box;
}

.mini-coding-logo {
    font-size: 18px;
    margin: 0 4px;
}

.extra-coding-logo {
    font-size: 30px;
    margin: 0 20px;
}

.extra-coding-logo h4 {
    font-size: 12px;
    margin-top: 20px;
}

.coding-skills {
    margin-top: 20px;
}


.coding-skills-list,
.additional-skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.additional-skills-title::after {
    width: 75%;
}



.app {
    margin: 15px auto;
    padding: 5px
}

.second-line-projects {
    margin: 20px 0 20px 0
}


.project-description {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    
}



.about-button {
    display: block;
    margin: 0 auto;
}

.img-container {
    margin: 0;
}

.in-touch {
    font-size: 30px;
}

.social-links {
    flex-direction: column;
    justify-content: evenly;
    font-size: 30px;
    margin: 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
}




